<div class="w-full h-screen">
  <ng-container *ngIf="!isMobile">
    <app-navbar></app-navbar>
  </ng-container>

  <div class="w-full h-full flex justify-center md:items-center p-2 md:p-0">
    <div class="w-full md:w-[450px]">
      <h2 class="text-xl">Enter your mobile number</h2>
      <div class="flex space-x-2.5 mb-3.5">
        <select
          class="bg-gray-200 pl-2.5 outline-none border-none w-1/3 h-10"
          (change)="handleCountryChange($event)"
          [ngModel]="selectedCountry.name"
        >
          <option *ngFor="let country of countries" [value]="country.name">
            <div *ngIf="!isMobile">
              {{country.flag + ' ' + country.name + ' (' + country.idd + ')'}}
            </div>
            <div *ngIf="isMobile">{{country.flag}}</div>
          </option>
          <option value="default" disabled>flag</option>
        </select>
        <input
          type="tel"
          placeholder="das0kdaokdaksodk"
          value="{{selectedCountry ? selectedCountry.idd : 'Country code'}}"
          [(ngModel)]="phoneNumber"
          class="bg-gray-200 px-4 pr-5 outline-none border-none w-2/3 h-10"
          
        />
      </div>

      <ion-button expand="block" color="dark" class="mb-4">
        Continue
      </ion-button>

      <div class="text-center text-gray-500 relative mb-2.5">
        <span class="bg-white px-2.5">or</span>
        <div class="absolute left-0 right-0 top-1/2 h-0.5 bg-gray-500"></div>
      </div>

      <div>
        <a
          class="flex justify-center items-center bg-gray-200 my-1 w-full h-9 font-normal text-black"
        >
          <ion-img
            src="assets/svg/apple.svg"
            class="w-5 h-5 object-cover object-center"
          ></ion-img>
          <span class="pl-2">Continue with Apple</span>
        </a>
        <a
          class="flex justify-center items-center bg-gray-200 my-1 w-full h-9 font-normal text-black"
        >
          <ion-img
            src="assets/svg/facebook.svg"
            class="w-5 h-5 object-cover object-center"
          ></ion-img>
          <span class="pl-2">Continue with Facebook</span>
        </a>
        <a
          href="{{ AUTH_GOOGLE_LINK }}"
          class="flex justify-center items-center bg-gray-200 my-1 w-full h-9 font-normal text-black"
        >
          <ion-img
            src="assets/svg/google.svg"
            class="w-5 h-5 object-cover object-center"
          ></ion-img>
          <span class="pl-2">Continue with Google</span>
        </a>
        <ion-router-link
          class="flex justify-center items-center bg-gray-200 my-1 w-full h-9 font-normal text-black"
          [routerLink]="['{{ PUBLIC_ROUTES.LOGIN_WITH_EMAIL }}']"
        >
          <span class="pl-2 inline-block">Continue with Email</span>
        </ion-router-link>
      </div>

      <div class="text-center text-gray-500 relative my-2.5">
        <span class="bg-white px-2.5">or</span>
        <div class="absolute left-0 right-0 top-1/2 h-0.5 bg-gray-500"></div>
      </div>

      <div class="w-full flex justify-center">
        <ion-button fill="clear" class="inline-block">
          <ion-icon name="search-outline"></ion-icon> Find my account
        </ion-button>
      </div>

      <p class="text-gray-400 mt-0 ml-0 mr-0 mb-10 md:mb-4 p-0">
        By proceeding, you consent to get calls, WhatsApp, or SMS messages,
        including by automated means, from Uber and its affiliates to the number
        provided
      </p>

      <div class="mb-10 md:mb-4">
        <!-- Agrega aquí tu botón "Back" personalizado -->
        <!-- Reemplaza con el código de tu botón "Back" -->
        <app-back-btn [routerLink]="AUTHENTICATED_ROUTES.HOME" ></app-back-btn>
      </div>

      <app-text-protected-re-catpcha></app-text-protected-re-catpcha>
      <!-- Agrega aquí tu componente TextProtectedReCatpcha -->
      <!-- Reemplaza con el código de tu componente TextProtectedReCatpcha -->
    </div>
  </div>
</div>