<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="services">
      <ion-icon name="apps-outline"></ion-icon>
      Services
    </ion-tab-button>
    <ion-tab-button tab="activity">
      <ion-icon name="car-sport-outline"></ion-icon>
      Activity
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      Account
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>